<!-- Header -->
<header class="header">
    <div class="container-fluid px-3">
        <nav class="navbar navbar-expand-lg custom-nav">
            {{> navbar/logged-in}}
        </nav>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-12 pt-3 pb-1">
            <h2>Add a Page</h2>
        </div>
        <div class="col-12 py-1">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" id="titleHeader" data-story-id="{{storyid}}" 
                        {{#if pages}}
                            data-start="true"
                        {{else}}
                            data-start="false"
                        {{/if}}
                    >{{title}} - 
                        {{#if pages}}
                            New Page
                        {{else}}
                            Start Page
                        {{/if}}
                    </h5>
                    <form>
                        <div class="form-group">
                            <label for="authorNotes">Author Notes:</label>
                            <input class="form-control" id="authorNotes" type="text" data-page-id="{{pageid}}" placeholder="A few words so you'll remember what this page is about ;)">
                            <small id="titleHelp" class="form-text text-muted">This section is just for your reference -
                                your readers won't see it!</small>
                        </div>
                        <div class="form-group">
                            <label for="pageContent">Page content:</label>

                            <textarea class="form-control" id="pageContent" rows="8" placeholder="What's going to happen next?"></textarea>
                        </div>
                    </form>
                    <button class="btn custom-primary-btn" id="savePage">Save Page</button>
                    {{#if pageid}}
                        <button class="btn custom-primary-btn" id="deletePage">Delete Page</button>
                        
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>