<!-- Header will appear on every page-->
<header class="header">
    <div class="container-fluid px-3">
        <!-- Nav will eventually have logic to render differently depending on when the user is logged in -->
        <nav class="navbar navbar-expand-lg custom-nav">
            {{#if loggedIn}}
                {{> navbar/logged-in}}
            {{else if newUser}}
                <li></li>
            {{else}}
               {{> navbar/logged-out}}
            {{/if}}
        </nav>
    </div>
</header>

{{#if loggedIn}}
    {{> content/dashboard}}
{{else if newUser}}
    {{> content/newUser}}
{{else}}
    {{> content/intro}}
{{/if}}

<!-- Footer containing credits on every page -->
<footer>
    <div class="container">
        <div class="row pt-3">
            <div class="col-12 col-md-4 mr-auto">
                <aside>
                    <h5>About Us</h5>
                    <ul class="list-unstyled">
                        <li>
                            Jover Lee
                        </li>
                        <li>
                            Theresa Bankman
                        </li>
                        <li>
                            Tassa Tenhouse
                        </li>
                    </ul>
                </aside>
            </div>
            <div class="col-12 col-md-4 ml-auto">
                <aside>
                    <h5>Credits</h5>
                    <ul class="list-unstyled">
                        {{#if loggedIn}}
                            {{> footer/dashboard-footer}}
                        {{else}}
                            {{> footer/intro-footer}}
                        {{/if}}
                    </ul>
                </aside>
            </div>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>