<!-- Header will appear on every page-->
<header class="header">
    <div class="container-fluid px-3">
        <nav class="navbar navbar-expand-lg custom-nav">
            {{#if loggedIn}}
                {{> navbar/logged-in}}
            {{else}}
               {{> navbar/logged-out}}
            {{/if}}
        </nav>
    </div>
</header>

{{#if readStory}}
    {{> content/readStory/storyMain}}
{{else if readPage}}
    {{> content/readStory/page}}
{{else if seeTags}}
    {{> content/tags/allTags}}
{{else if seeTaggedStories}}
    {{> content/tags/taggedStories}}
{{else if seeAuthors}}
    {{> content/authors/allAuthors}}
{{else if seeAuthorStories}}
    {{> content/authors/authorStories}}
{{else if seeAllStories}}
    {{> content/readStory/allStories}}
{{else if seeMyStories}}
    {{> content/dashboard/allStories}}
{{else if storySettings}}
    {{> content/storySettings/story}}
{{else if loggedIn}}
    {{> content/dashboard/dashboard}}
{{else if homepage}}
    {{> content/intro}}
{{/if}}

<div class="spacer"></div>
<!-- Footer containing credits on every page -->
{{> footer/footer}}