<!-- Header will appear on every page-->
<header class="header">
    <div class="container-fluid px-3">
        <nav class="navbar navbar-expand-lg custom-nav">
            {{#if loggedIn}}
                {{> navbar/logged-in}}
            {{else}}
               {{> navbar/logged-out}}
            {{/if}}
        </nav>
    </div>
</header>

{{#if readStory}}
    {{> subcontent/readstory/storyMain}}
{{else if readPage}}
    {{> subcontent/readstory/page}}
{{else if seeTags}}
    {{> subcontent/tags/allTags}}
{{else if seeTaggedStories}}
    {{> subcontent/tags/taggedStories}}
{{else if seeAuthors}}
    {{> subcontent/authors/allAuthors}}
{{else if seeAuthorStories}}
    {{> subcontent/authors/authorStories}}
{{else if seeAllStories}}
    {{> subcontent/readstory/allStories}}
{{else if seeMyStories}}
    {{> subcontent/dashboard/allStories}}
{{else if storySettings}}
    {{> subcontent/storysettings/story}}
{{else if createPage}}
    {{> subcontent/pageedit/createPage}}
{{else if pageLibrary}}
    {{> subcontent/pagelibrary/pageLibrary}}
{{else if loggedIn}}
    {{> subcontent/dashboard/dashboard}}
{{else if homepage}}
    {{> subcontent/intro}}
{{/if}}

<div class="spacer"></div>
<!-- Footer containing credits on every page -->
{{> footer/footer}}

{{> modals/dynamicModal}}

{{> scripts/scripts}}