<!-- Header will appear on every page-->
<header class="header">
    <div class="container-fluid px-3">
        <nav class="navbar navbar-expand-lg custom-nav">
            {{#if loggedIn}}
                {{> navbar/logged-in}}
            {{else}}
               {{> navbar/logged-out}}
            {{/if}}
        </nav>
    </div>
</header>

{{#if readStory}}
    {{> content/readStory/storyMain}}
{{else if readPage}}
    {{> content/readStory/page}}
{{else if seeTags}}
    {{> content/tags/allTags}}
{{else if seeTaggedStories}}
    {{> content/tags/taggedStories}}
{{else if seeAuthors}}
    {{> content/authors/allAuthors}}
{{else if seeAuthorStories}}
    {{> content/authors/authorStories}}
{{else if seeAllStories}}
    {{> content/readStory/allStories}}
{{else if loggedIn}}
    {{> content/dashboard/dashboard}}
{{else}}
    {{> content/intro}}
{{/if}}

<div class="spacer"></div>
  <!-- Footer containing credits on every page -->
    <footer>
        <div class="container">
            <div class="row pt-3">
                <div class="col-12 col-md-4 mr-auto">
                    <aside>
                        <h5>About Us</h5>
                        <ul class="list-unstyled">
                            <li>
                                Jover Lee
                            </li>
                            <li>
                                Theresa Bankman
                            </li>
                            <li>
                                Tassa Tenhouse
                            </li>
                        </ul>
                    </aside>
                </div>
                <div class="col-12 col-md-4 ml-auto">
                    <aside>
                        <h5>Credits</h5>
                        <ul class="list-unstyled">
                            {{#if loggedIn}}
                            {{> footer/dashboard-footer}}
                            {{else}}
                            {{> footer/intro-footer}}
                            {{/if}}
                        </ul>
                    </aside>
                </div>
            </div>
        </div>
    </footer>