<!-- Header -->
<header class="header">
    <div class="container-fluid px-3">
        <nav class="navbar navbar-expand-lg custom-nav">
            {{> navbar/logged-in}}
        </nav>
    </div>
</header>

<div class="container">
    <div class="row pt-3">
        <div class="col-12 col-md-9">
            <h2>{{title}}</h2>
        </div>
        <div class="col-12, col-md-3 pr-0">
            <a class="btn custom-primary-btn w-100 text-white" href="/story/settings/{{storyId}}">Story Settings</a>
        </div>
    </div>
    <div class="row pt-3">
        <div>
            <ul class="nav nav-pills custom-nav-pills" id="libraryNav" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="inuse-tab" data-toggle="tab" href="#inuse" role="tab" aria-controls="all pages currently in use"
                        aria-selected="true">All Pages Currently In Use</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="unlinked-tab" data-toggle="tab" href="#unlinkedpages" role="tab"
                        aria-controls="Unlinked pages" aria-selected="false">Unlinked Pages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="unfinished-tab" data-toggle="tab" href="#unfinishedpages" role="tab"
                        aria-controls="unfinished pages" aria-selected="false">Unfinished Writing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="endings-tab" data-toggle="tab" href="#endings" role="tab" aria-controls="endings"
                        aria-selected="false">All Endings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="orphan-tab" data-toggle="tab" href="#orphanedpages" role="tab"
                        aria-controls="orphaned pages" aria-selected="false">Orphaned Pages</a>
                </li>
            </ul>
        </div>
        <div class="card w-100 col-12">
            <div class="card-body">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="inuse" role="tabpanel" aria-labelledby="inuse-tab">
                        {{>content/pagelibrary/tabpane-headers header="All Pages Currently In Use"}}
                        <div class="row py-3">
                            <div class="col-3">
                                <button class="btn custom-primary-btn">
                                    <a class="text-white" href="/story/write/{{storyId}}/pages/">
                                        Create Page
                                    </a>
                                </button>
                            </div>  
                            {{#if pages.length}}
                            {{!-- Load all the pages that are currently in use (not orphaned)
                            These pages CAN be finished or unfinished --}}
                            {{#each pages}}
                            {{#unless this.isOrphaned}}
                            {{>content/pagelibrary/pagestyling}}
                            {{/unless}}
                            {{/each}}
                            {{else}}
                            {{>content/pagelibrary/nopages}}
                            {{/if}}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="unlinkedpages" role="tabpanel" aria-labelledby="unlinked-tab">
                        {{>content/pagelibrary/tabpane-headers header="Unlinked Pages"}}
                        <div class="row py-3">
                            {{#if pages.length}}
                            {{!-- Load all the pages that are currently unlinked (not orphaned, also not linked)
                            These pages CAN be finished or unfinished --}}
                            {{#each pages}}
                            {{#unless this.isOrphaned}}
                            {{#unless this.isLinked}}
                            {{>content/pagelibrary/pagestyling}}
                            {{/unless}}
                            {{/unless}}
                            {{/each}}
                            {{else}}
                            {{>content/pagelibrary/nopages}}
                            {{/if}}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="unfinishedpages" role="tabpanel" aria-labelledby="unfinished-tab">
                        {{>content/pagelibrary/tabpane-headers header="Unfinished Writing"}}
                        <div class="row py-3">
                            {{#if pages.length}}
                            {{!-- Load all the pages that are currently unfinished
                            These pages must not be orphans --}}
                            {{#each pages}}
                            {{#unless this.isOrphaned}}
                            {{#unless this.contentFinished}}
                            {{>content/pagelibrary/pagestyling}}
                            {{/unless}}
                            {{/unless}}
                            {{/each}}
                            {{else}}
                            {{>content/pagelibrary/nopages}}
                            {{/if}}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="endings" role="tabpanel" aria-labelledby="endings-tab">
                        {{>content/pagelibrary/tabpane-headers header="Endings and TBC"}}
                        <div class="row py-3">
                            {{#if pages.length}}
                            {{!-- Load all the pages that are endings (not orphaned, and tbc or ending)
                            These pages CAN be finished or unfinished --}}
                            {{#each pages}}
                            {{#unless this.isOrphaned}}
                            {{#if this.isEnding}}
                            {{>content/pagelibrary/pagestyling}}
                            {{/if}}
                            {{#if this.isTBC}}
                            {{>content/pagelibrary/pagestyling}}
                            {{/if}}
                            {{/unless}}
                            {{/each}}
                            {{else}}
                            {{>content/pagelibrary/nopages}}
                            {{/if}}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="orphanedpages" role="tabpanel" aria-labelledby="orphan-tab">
                        {{>content/pagelibrary/tabpane-headers header="Orphaned Pages"}}
                        <div class="row py-3">
                            {{#if pages.length}}
                            {{!-- Load all the pages that are currently orphaned
                            These pages CAN be finished or unfinished --}}
                            {{#each pages}}
                            {{#if this.isOrphaned}}
                            {{>content/pagelibrary/pagestyling}}
                            {{/if}}
                            {{/each}}
                            {{else}}
                            {{>content/pagelibrary/nopages}}
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="spacer"></div>
<footer>
    {{> footer/storysettings}}
</footer>