<div class="container my-5">
    <section class="text-center bg-white my-3 py-3">
        <h1 class="display-4">{{dbStory.title}}</h1>
        <p class="lead">Written By: {{author.displayName}}</p>
        Tags:
        {{#each tags}}
            <a href="/tags/{{id}}" class="badge badge-pill badge-success">{{tagName}}</a>
        {{/each}}
        <hr class="my-4">
        {{#with dbStory}}
                {{> subcontent/tags/warningBadges}}
        {{/with}}
    </section>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <p>{{firstPage.content}}</p>
                </div>
                <div class="card-footer">
                    {{#each links}}
                        {{> subcontent/readstory/pageLinks}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>
